<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283351295312-u8kl0hps7r9i2k4jr8ul6guoq9ue75fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283351295312-u8kl0hps7r9i2k4jr8ul6guoq9ue75fk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>283351295312-5c5kghkov4roiv7vgjg4n09m46qci7o8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIsAnvQU64Q9Rlyi3f2YDrGfwVRTdUp7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>283351295312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incognito.wallet.debug</string>
	<key>PROJECT_ID</key>
	<string>aos-brain</string>
	<key>STORAGE_BUCKET</key>
	<string>aos-brain.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283351295312:ios:92d31ba5fcf79b5caaf855</string>
	<key>DATABASE_URL</key>
	<string>https://aos-brain.firebaseio.com</string>
</dict>
</plist>