<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key/>
	<string/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${APP_DISPLAY_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>$(CODEPUSH_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>NSIncludesSubdomains</key>
			<true/>
			<key>NSTemporaryExceptionAllowsInsecureHTTPLoads </key>
			<true/>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>${PRODUCT_NAME} will need access to Apple Music for setting welcome theme sound.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth will be required for ${PRODUCT_NAME} to connect to the Badge printer hardware.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth will be required for ${PRODUCT_NAME} to connect to the Badge printer hardware.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>${PRODUCT_NAME} requires access to Calendar in order to display greeting to visitors at the right time.</string>
	<key>NSCameraUsageDescription</key>
	<string>Need to access the camera to scan QR code</string>
	<key>NSContactsUsageDescription</key>
	<string>${PRODUCT_NAME} Contacts Usage</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID allows you quick and secure access to your account.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Will you allow this app to always know your location?</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This will help Node find your home Wi-Fi</string>
	<key>NSMotionUsageDescription</key>
	<string>${PRODUCT_NAME} Motion Usage</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to save photos to your photo gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need to access the camera roll to detect QR code</string>
	<key>NSSiriUsageDescription</key>
	<string>${PRODUCT_NAME} Sỉri Usage</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Recognize speech</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto_bold.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>PostGroteskBold.otf</string>
		<string>PostGroteskBoldItalic.otf</string>
		<string>PostGroteskLight.otf</string>
		<string>PostGroteskLightItalic.otf</string>
		<string>PostGroteskMedium.otf</string>
		<string>PostGroteskMediumItalic.otf</string>
		<string>PostGroteskBook.otf</string>
		<string>PostGroteskBookItalic.otf</string>
		<string>Fontisto.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>HelveticaNeuBold.ttf</string>
		<string>HelveticaNeue.ttf</string>
		<string>HelveticaNeueBd.ttf</string>
		<string>HelveticaNeueBlackCond.ttf</string>
		<string>HelveticaNeueHv.ttf</string>
		<string>HelveticaNeueIt.ttf</string>
		<string>HelveticaNeueLight.ttf</string>
		<string>HelveticaNeueLt.ttf</string>
		<string>HelveticaNeueMed.ttf</string>
		<string>HelveticaNeueMedium.ttf</string>
		<string>HelveticaNeueThin.ttf</string>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Display-BlackItalic.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-BoldItalic.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-HeavyItalic.otf</string>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-LightItalic.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-MediumItalic.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-RegularItalic.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-SemiboldItalic.otf</string>
		<string>SF-Pro-Display-Thin.otf</string>
		<string>SF-Pro-Display-ThinItalic.otf</string>
		<string>SF-Pro-Display-Ultralight.otf</string>
		<string>SF-Pro-Display-UltralightItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
